* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.corner-logo {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 200px;
}

.Login-box {
    background: white;
    padding: 40px;
    width: 400px;
    text-align: center;
    box-shadow: 10px 10px 0px #7019db;

}
#log {
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    min-height: 20px; 
    border-radius: 6px;
    color: red;
}

.box-logo {
    width: 300px;
    height: 60px;
    margin-bottom: 10px;
    padding-left: 50px;
    
    
}

.Login-box h4 {
    color: #000000;
    font-size: 18px;
    margin-bottom:20px;
    font-weight: bold;
}

.Login-box input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #e1e1e1;
    border-radius: 20px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.Login-box button {
    width: 30%;
    padding: 7px;
    background: linear-gradient(135deg, #a357ff 0%, #403ced 100%);
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    margin-bottom: 20px;
}

.Login-box button:hover {
   
    background: linear-gradient(135deg, #a357ff 0%, #403ced 100%);
    transform: scale(1.05);
}

.Login-box button:active {
    transform: scale(0.97);
background: linear-gradient(135deg, #a764f8 0%, #5653fa 100%);

    
}

.Login-box h5 {
    color: #666;
    font-size: 14px;
}